{% load static %}
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header bg-dark">
        <img src="{% static 'dashboard/images/logo.png' %}" alt="logo" width="50">

        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body bg-dark">
        {% include 'dashboard/partials/sidebar.html' %}
    </div>
</div>