{% extends 'dashboard/partials/base.html' %}

{% block title %}Apply Leave{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row py-2 justify-content-center align-items-center">
        <div class="col-3">
            <h5>Apply Leave</h5>
        </div>

        <div class="col-3 text-end">
            <button class="btn btn-dark btn-sm"><a href="{% url 'leave-list' %}"
                    class="text-white text-decoration-none">Back</a></button>
        </div>

    </div>
    <div class="row py-2 justify-content-center">
        <div class="col-lg-6">

            <div class="card mb-2 shadow border-0">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn btn-success w-100 btn-sm mt-3">Save</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}