{% extends 'dashboard/partials/base.html' %}

{% block title %}{% if form.instance.id %}Update Task{% else %}Create Task{% endif %}{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row py-2 justify-content-center align-items-center">
        <div class="col-3">
            <h5>{% if form.instance.id %}Update Task{% else %}Create Task{% endif %}</h5>
        </div>

        <div class="col-3 text-end">
            <button class="btn btn-dark btn-sm"><a href="{% url 'task-view' project_id=project.id %}"
                    class="text-white text-decoration-none">Back</a></button>
        </div>

    </div>
    <div class="row py-2 justify-content-center">
        <div class="col-lg-6">

            <div class="card mb-2 shadow border-0">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% if form.attachment.value %}
                        <img class="mb-2 w-100" src="{{ current_attachment_url }}" alt="content">
                        {% endif %}

                        {{ form }}
                        <button type="submit" class="btn btn-success w-100 btn-sm mt-3">Save</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}